{% extends 'core/base.html' %}

{% block inicio %}
    Editar Microcurriculo
{% endblock %}

{% block title %}
    Editar un Microcurriculo
{% endblock %}

{% block panel %}
<table>
    <tr>
        <td>Pensum :</td>
        <td><select name="version_pensum" id="version_pensum">
            <option >Seleccione</option> 
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></td>
        <td>Nivel :</td>
        <td><select name="nivel" id="nivel">
            <option>Seleccione</option> 
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select></td>               
    </tr>
    <tr>
        <td>Area :</td>
        <td><select name="area" id="area">
            <option >Seleccione</option> 
            <option>Básica de Ingeniería</option>
            <option>Ciencias Básicas</option>
            <option>Formacíon Complementaria</option>
            <option>Ingeníeria Aplicada</option>
        </select></td>
        <td>Cursos : </td>
        <td><select name="curso" id="curso">
            <option >Seleccione</option>
        </select></td>
    </tr>
</table>
{% endblock %}

{% block micro_asociado %}
<table>
    <tr>
        <h1>Microcurriculos Asociados</h1>
    </tr>
    <tr>
        <td>Desde: </td>
            <td><select name="desde" id="desde">
            <option >Seleccione</option>
            {% for semestre in semestres %}
                <option> {{semestre.descripcion}} </option>
            {% endfor %}
    </tr>            
    <tr>
        <td>Hasta: </td>
            <td><select name="desde" id="hasta">
            <option >Seleccione</option>
            {% for semestre in semestres %}
                <option> {{semestre.descripcion}} </option>
            {% endfor %}
    </tr>
    <tr>
        <td>Vigencia: </td>
        <td><select name="vigencia" id="vigencia">
            <option >Seleccione</option>
        </select></td>
    </tr>
</table>
{% endblock %}

{% block contenido %}
    <td><a href="" id="editar_micro">Editar microcurriculo seleccionado</a></td>
{% endblock %}

