<!DOCTYPE html>
<html lang="es">
{% load auth_extras %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestores</title>
    <style type="text/css" media="screen">
        A:link {color: blue; font-size: 12pt; text-decoration: none }
        A:hover {color: blue; font-size: 12pt; text-decoration: none }
        A:visited {color: blue; font-size: 12pt; text-decoration: none }
        table{border-collapse: collapse; text-align: center; border: black 2px solid;}
        td{border: black 2px dashed;}
        tr{border: black 2px dashed;}
        .td1{background: #c3c3c3;}
        .td2{border: white;}
    </style>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>Gestores</h1>
        <table>
            <tr class="td1">
                <td><strong>Usuario</strong></td>
                <td><strong>Nombres</strong></td>
                <td><strong>Apellidos</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>Departamento</strong></td>
                <td><strong>Acciones</strong></td>
            </tr>
            {% for gestor in gestores %}
            <tr>
                <td id="username{{gestor.id}}" name="username{{gestor.id}}">{{gestor.username}}</td>
                <td id="f_name{{gestor.id}}" name="f_name{{gestor.id}}">{{gestor.first_name}}</td>
                <td id="l_name{{gestor.id}}" name="l_name{{gestor.id}}">{{gestor.last_name}}</td>
                <td id="email{{gestor.id}}" name="email{{gestor.id}}">{{gestor.email}}</td>
                <td id="username{{gestor.id}}" name="username{{gestor.id}}">{{gestor.userrol.departamento}}</td>
                <td>    
                    <table class="td2">
                        <tr class="td2">
                            <td class="td2"><a href="javascript:cambiar({{gestor.id}})">Modificar Departamento</a></td>
                        </tr>
                        <tr class="td2">
                            <td class="td2"><a href="">Cambiar Grupo</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="modificar_departamento">
            <table class="table">
                <tr class="td2">
                    <td class="td2">Está modificando el departamento al que pertenece: </td>
                    <td id="gestor" class="td2"></td>
                </tr>
                <tr class="td2">
                    <td class="td2">Seleccione un departamento</td>
                    <td class="td2">
                        <select name="departamento" id="departamento" required="True">
                        <option >Seleccione</option>
                        {% for programa in programas %}
                            <option>{{programa}}</option>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="td2">
                    <td class="td2"><a href="javascript:cambiar2()">Modificar departamento </a></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
<script>
function cambiar2(){
    let url="{% url 'gestor' %}";
    var username=$('#gestor').text();
    var departamento=$('#departamento').val();
    if(username!="" && departamento!="Seleccione"){
        if(confirm("¿Esta seguro de cambiar el departamento de "+username+" a "+departamento+"?")){
            const postData={
            'username': username,
            'departamento': departamento,
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            };
            $.post(url, postData, function(response){
                alert(response);
                window.location.reload();
            });
        }
    }
    else{
        alert("Porfavor seleccione el grupo que va a asignar")
    }
}
function cambiar(id){
    var username=$('#username'+id).text();
    $('#gestor').html(username);
    $('.modificar_departamento').each(function(){
        $(this).show();
    });
};
$(document).ready(function(){
    $('.modificar_departamento').each(function(){
        $(this).hide();
    });
});
</script>  