<!DOCTYPE html>
<html lang="es">
<script LANGUAGE="JavaScript">
    var cont=0;
    var cont_eval=0;
    var cont_gen=0;
    var cont_esp=0;
    var cont_res=0;
    var cont_bas=0;
    var cont_comp=0;
    cadVariables = location.search.substring(1,location.search.length);
    arrVariables = cadVariables.split("&");
    vp = unescape(arrVariables[0].split("=")[1]);
    cur = unescape(arrVariables[1].split("=")[1]);
    sem = unescape(arrVariables[2].split("=")[1]);
    vige = unescape(arrVariables[3].split("=")[1]);
    window.addEventListener('load', cargar, false);
    function cargar(){
        document.getElementById("v_p").value = vp
        document.getElementById("c").value = cur
        document.getElementById("s").value = sem
    }
    //Funcion para eliminar unidades
    function eliminar(obj){
        unity=document.getElementById("cant_unid");
        //se eliminara unicamente los nodos despues del nodo 21 que corresponde ala ultima unidad que se introdujo 
        unity.parentNode.removeChild(unity.parentNode.childNodes[cont+1]);
        //contador de unidades
        cont --;
        document.getElementById("c_u").value=cont;
        //Si no hay una unidad no tiene sentido eliminar una unidad por ende se remueve la opcion de eliminar unidad
        //console.log(document.getElementsByName("contadorunidad").values);
        if (cont==0){
            document.getElementById("unityManagment").removeChild(document.getElementById("eliminarUnid"));
        }
    }
    function eliminar2(obj,caso){
        if(caso=="general"){
            unity=document.getElementById("cant_general");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont_gen+1]);
            cont_gen --;
            document.getElementById("c_g").value=cont_gen;
            if (cont_gen==0){
                document.getElementById("generalManagment").removeChild(document.getElementById("eliminarobjetivog"));
            }
        }
        else if (caso=="especifico"){
            unity=document.getElementById("cant_espec");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont_esp+1]);
            cont_esp --;
            document.getElementById("c_es").value=cont_esp;
            if (cont_esp==0){
                document.getElementById("espeManagment").removeChild(document.getElementById("eliminarobjetivoe"));
            }        
        }
        else if (caso=="resumido"){
            unity=document.getElementById("cant_resu");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont_res+1]);
            cont_res --;
            document.getElementById("c_res").value=cont_res;
            if (cont_res==0){
                document.getElementById("contresManagment").removeChild(document.getElementById("eliminarcontres"));
            }        
        }   
        else if (caso=="basica"){
            unity=document.getElementById("cant_basica");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont_bas+1]);
            cont_bas --;
            document.getElementById("c_bas").value=cont_bas;
            if (cont_bas==0){
                document.getElementById("basicaManagment").removeChild(document.getElementById("eliminarbasica"));
            }        
        }
        else if (caso=="complementaria"){
            unity=document.getElementById("cant_compl");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont_comp+1]);
            cont_comp --;
            document.getElementById("c_com").value=cont_comp;
            if (cont_comp==0){
                document.getElementById("complManagment").removeChild(document.getElementById("eliminarcomplementaria"));
            }        
        }     
    }
    //Funcion para eliminar evaluaciones
    function eliminar_eval(obj){
        eval=document.getElementById("cant_eval");
        //se eliminara unicamente los nodos despues del nodo 22 que corresponde ala ultima evaluacion que se introdujo 
        eval.parentNode.removeChild(eval.parentNode.childNodes[cont_eval+1]);
        //contador de evaluaciones
        cont_eval --;
        document.getElementById("c_e").value=cont_eval;
        //console.log(document.getElementsByName("contadorevaluacion").values);
        //Si no hay una unidad no tiene sentido eliminar una unidad por ende se remueve la opcion de eliminar evaluacion
        if (cont_eval==0){
            document.getElementById("evalManagment").removeChild(document.getElementById("eliminarEval"));
        }
    }
    //Funcion para una nueva entrada de texto, como parametro de entrada tiene el nombre asignado al input text y el texto que se mostrará antes del input text
    function newEntry(tipo,text,input_1,input_2,input_3,n_1,n_2,n_3){
        newInput1 = document.createElement("input");
        newInput1.type="text";
        newInput1.name=n_1;
        newInput1.required="true";
        newInput2 = document.createElement("input");
        newInput2.type="number";
        newInput2.name=n_2;
        newInput2.required="true";
        newInput3 = document.createElement("input");
        if(tipo=="Unidad"){
            newInput3.type="text";
        }
        else if (tipo=="Evaluacion"){
            newInput3.type="date";
        }
        newInput3.name=n_3;
        newInput3.required="true";
        newNode = document.createElement("tr");
        newNode.appendChild(document.createElement("h4"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.childNodes[1].appendChild(document.createElement("td"));
        newNode.childNodes[1].appendChild(document.createElement("td"));
        newNode.childNodes[2].appendChild(document.createElement("td"));
        newNode.childNodes[2].appendChild(document.createElement("td"));
        newNode.childNodes[3].appendChild(document.createElement("td"));
        newNode.childNodes[3].appendChild(document.createElement("td"));
        newNode.childNodes[0].appendChild(document.createTextNode(text));
        newNode.childNodes[1].childNodes[0].appendChild(document.createTextNode(input_1))
        newNode.childNodes[1].childNodes[1].appendChild(newInput1);
        newNode.childNodes[2].childNodes[0].appendChild(document.createTextNode(input_2))
        newNode.childNodes[2].childNodes[1].appendChild(newInput2);
        newNode.childNodes[3].childNodes[0].appendChild(document.createTextNode(input_3))
        newNode.childNodes[3].childNodes[1].appendChild(newInput3);
        return newNode;
    }
    function newuni(text,input_1,input_2,input_3,n_1,n_2,n_3,cont){
        newInput1 = document.createElement("input");
        newInput1.type="text";
        newInput1.name=n_1;
        newInput1.required="true";
        newInput2 = document.createElement("input");
        newInput2.type="number";
        newInput2.name=n_2;
        newInput2.required="true";
        //contador subtemas
        newInput3 = document.createElement("input");
        newInput3.type="hidden";
        newInput3.name=n_3;
        newInput3.id=n_3;
        newInput3.value=0;
        newInput4 = document.createElement("a")
        newInput4.id="agresubtema"+cont;
        newInput4.href="javascript:newsubt("+cont+")";
        newInput4.appendChild(document.createTextNode("Agregar un subtema"));
        newNode = document.createElement("table");
        newNode.appendChild(document.createElement("h4"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.appendChild(document.createElement("tr"));
        newNode.childNodes[1].appendChild(document.createElement("td"));
        newNode.childNodes[2].appendChild(document.createElement("td"));
        newNode.childNodes[2].appendChild(document.createElement("td"));
        newNode.childNodes[3].appendChild(document.createElement("td"));
        newNode.childNodes[3].appendChild(document.createElement("td"));
        newNode.childNodes[5].appendChild(document.createElement("td"));
        newNode.childNodes[0].appendChild(document.createTextNode(text));
        newNode.childNodes[4].appendChild(document.createTextNode(input_3));
        newNode.childNodes[1].firstChild.appendChild(newInput3);
        newNode.childNodes[2].childNodes[0].appendChild(document.createTextNode(input_1))
        newNode.childNodes[2].childNodes[1].appendChild(newInput1);
        newNode.childNodes[3].childNodes[0].appendChild(document.createTextNode(input_2))
        newNode.childNodes[3].childNodes[1].appendChild(newInput2);
        newNode.childNodes[5].firstChild.appendChild(newInput4);
        newNode.childNodes[5].id="nodosub"+cont;
        newNode.childNodes[5].firstChild.id="agregarsub"+cont;
        newNode.childNodes[5].firstChild.colspan="2";
        return newNode;
    }
    function newsubt(cont){
        cont2=document.getElementById("subtemas"+cont).value;
        cont2++;
        document.getElementById("subtemas"+cont).value=cont2;
        unity=document.getElementById("nodosub"+cont);
        newNode=newEntry2("Subtema "+cont2+": ","subtemauni"+cont+cont2);    
        document.getElementById("agregarsub"+cont).colspan="2";
        if (cont2==1){
            newClose = document.createElement("a");
            newClose.id="eliminarsubt"+cont;
            newClose.href='javascript:eliminari('+cont+')';
            newClose.appendChild(document.createTextNode(" Borrar el último subtema"));
            document.getElementById("nodosub"+cont).appendChild(newClose);
        }
        unity.parentNode.insertBefore(newNode,unity);
    }
    function eliminari(cont){
        unity=document.getElementById("nodosub"+cont);
        cont2=parseInt(document.getElementById("subtemas"+cont).value);
        unity.parentNode.removeChild(unity.parentNode.childNodes[cont2+4]);
        cont2 --;
        document.getElementById("subtemas"+cont).value=cont2;
        if (cont2==0){
            document.getElementById("nodosub"+cont).removeChild(document.getElementById("eliminarsubt"+cont));
        }
    }
    function newEntry2(input_1,n_1){
        newInput1 = document.createElement("input");
        newInput1.type="text";
        newInput1.name=n_1;
        newInput1.required="True";
        newNode = document.createElement("tr");
        newNode.appendChild(document.createElement("td"));
        newNode.appendChild(document.createElement("td"));
        newNode.firstChild.appendChild(document.createTextNode(input_1))
        newNode.lastChild.appendChild(newInput1);
        return newNode;
    }    
    function newEval(){
        cont_eval ++;
        document.getElementById("c_e").value=cont_eval;
        //console.log(document.getElementsByName("contadorevaluacion").values.type);
        eval=document.getElementById("cant_eval");
        //Se crea una nueva evaluacion con su respectivo nombre en orden y su respectivo nombre antes del input
        //console.log(unity.parentNode.childNodes)
        newNode=newEntry("Evaluacion","Evaluacion "+cont_eval+":","Actividad :","Porcentaje :","Fecha :","actividad"+cont_eval,"porcentaje"+cont_eval,"fecha"+cont_eval);
        //Agregamos la nueva evaluacion al frontend
        eval.parentNode.insertBefore(newNode,eval);
        //Agregar la opcion para borrar la ultima evaluacion
        if (cont_eval==1){
            newClose = document.createElement("a");
            newClose.id="eliminarEval";
            newClose.href="javascript:eliminar_eval(this)";
            newClose.appendChild(document.createTextNode("Borrar la última evaluación"));
            document.getElementById("evalManagment").appendChild(newClose);
        }
    }
    function pregunta(){
        if (confirm('¿Estas seguro de enviar este formulario?')){
        document.formulario.submit()
        }
    } 
    function newUnity(){
        cont ++;
        document.getElementById("c_u").value=cont;
        //console.log(document.getElementsByName("contadorunidad").values);
        unity=document.getElementById("cant_unid");
        //Se crea una nueva unidad con su respectivo nombre en orden y su respectivo nombre antes del input
        //console.log(unity.parentNode.childNodes)
        //newNode=newEntry("Unidad","Unidad "+cont+":","Temas :","Subtemas :","# de semanas :","temas"+cont,"subtemas"+cont,"semanas"+cont);
        newNode=newuni("Unidad "+cont+":","Temas :","# de semanas :","Subtemas :","temas"+cont,"semanas"+cont,"subtemas"+cont,cont);
        //Agregamos la nueva unidad al frontend
        unity.parentNode.insertBefore(newNode,unity);
        //Agregar la opcion para borrar la ultima unidad
        if (cont==1){
            newClose = document.createElement("a");
            newClose.id="eliminarUnid";
            newClose.href="javascript:eliminar(this)";
            newClose.appendChild(document.createTextNode("Borrar la última unidad"));
            document.getElementById("unityManagment").appendChild(newClose);
        }
    }
    function newobject(tipo){
        if(tipo=="general"){
            cont_gen++;
            document.getElementById("c_g").value=cont_gen;
            unity=document.getElementById("cant_general");
            newNode=newEntry2("General "+cont_gen+":","general"+cont_gen);    
            if (cont_gen==1){
                newClose = document.createElement("a");
                newClose.id="eliminarobjetivog";
                newClose.href='javascript:eliminar2(this,"general")';
                newClose.appendChild(document.createTextNode("Borrar el último objetivo"));
                document.getElementById("generalManagment").appendChild(newClose);
            }
        }
        else if (tipo=="especifico"){
            cont_esp++;
            document.getElementById("c_es").value=cont_esp;
            unity=document.getElementById("cant_espec");
            newNode=newEntry2("Especifico "+cont_esp+":","especifico"+cont_esp);
            if (cont_esp==1){
                newClose = document.createElement("a");
                newClose.id="eliminarobjetivoe";
                newClose.href='javascript:eliminar2(this,"especifico")';
                newClose.appendChild(document.createTextNode("Borrar el último objetivo"));
                document.getElementById("espeManagment").appendChild(newClose);
            }    
        }
        else if (tipo=="resumido"){
            cont_res++;
            document.getElementById("c_res").value=cont_res;
            unity=document.getElementById("cant_resu");
            newNode=newEntry2("Item "+cont_res+":","item"+cont_res);
            if (cont_res==1){
                newClose = document.createElement("a");
                newClose.id="eliminarcontres";
                newClose.href='javascript:eliminar2(this,"resumido")';
                newClose.appendChild(document.createTextNode("Borrar el último item"));
                document.getElementById("contresManagment").appendChild(newClose);
            }    
        }
        else if (tipo=="basica"){
            cont_bas++;
            document.getElementById("c_bas").value=cont_bas;
            unity=document.getElementById("cant_basica");
            newNode=newEntry2("Basica "+cont_bas+":","basica"+cont_bas);
            if (cont_bas==1){
                newClose = document.createElement("a");
                newClose.id="eliminarbasica";
                newClose.href='javascript:eliminar2(this,"basica")';
                newClose.appendChild(document.createTextNode("Borrar la ultima referencia"));
                document.getElementById("basicaManagment").appendChild(newClose);
            }    
        }
        else if (tipo=="complementaria"){
            cont_comp++;
            document.getElementById("c_com").value=cont_comp;
            unity=document.getElementById("cant_compl");
            newNode=newEntry2("Complementaria "+cont_comp+":","complementaria"+cont_comp);
            if (cont_comp==1){
                newClose = document.createElement("a");
                newClose.id = "eliminarcomplementaria";
                newClose.href = 'javascript:eliminar2(this,"complementaria")';
                newClose.appendChild(document.createTextNode("Borrar la ultima referencia"));
                document.getElementById("complManagment").appendChild(newClose);
            }    
        }                 
        unity.parentNode.insertBefore(newNode,unity);
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.js"></script>
        

{% if mensaje1 %}
    <script>
        alert('{{ mensaje1 }}');
        window.history.back();
    </script>
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Microcurriculos</title>
    <style type="text/css" media="screen">
        A:link {color: blue; font-size: 12pt; text-decoration: none }
        A:hover {color: blue; font-size: 12pt; text-decoration: none }
        A:visited {color: blue; font-size: 12pt; text-decoration: none }
    </style>
</head>
<h1>Asignar un nuevo microcurriculo</h1>
<body>
    <form action="{% url 'core' %}" method="POST" name="formulario">
        {% csrf_token %}
        <input type="hidden" id="caso" name="caso" value="nuevo">
        <input type="hidden" id="c_u" name="contadorunidad" value="0">
        <input type="hidden" id="c_e" name="contadorevaluacion" value="0">
        <input type="hidden" id="c_g" name="contadorgeneral" value="0">
        <input type="hidden" id="c_es" name="contadorespecifico" value="0">
        <input type="hidden" id="c_res" name="contadoresumido" value="0">
        <input type="hidden" id="c_bas" name="contadorbasica" value="0">
        <input type="hidden" id="c_com" name="contadorcomple" value="0">                
        <input type="hidden" id="v_p" name="version_p">
        <input type="hidden" id="c" name="curso_es">
        <input type="hidden" id="s" name="semestre_es">
        <input type="hidden" id="v" name="vigencia_es">
        <input type="hidden" id="d" name="Descripcion">
        <input type="hidden" id="c2" name="curso_es2">
        <input type="hidden" id="v_p2" name="version_p2">
        <table id="tabla1">
            <tr>
                <td>Descripcion General : </td>
                <td><textarea id="des_gen" name="descripcion_general" required="True" rows="1" cols="28" style="font-size:13px"></textarea></td>
            </tr>
            <tr>
                <td>Proposito : </td>
                <td><textarea id="propos" name="proposito" required="True" rows="1" cols="28" style="font-size:13px"></textarea></td>
            </tr>
            <tr>
                <td>Metodología : </td>
                <td><textarea id="metodo" name="metodologia" required="True" rows="1" cols="28" style="font-size:13px"></textarea></td>
            </tr>
            <tr>
                <td>Actividades de Asistencia Obligatoria : </td>
                <td><textarea id="acti_asis" name="actividades_asis_oblig" required="True" rows="1" cols="28" style="font-size:13px"></textarea></td>
            </tr>
        </table> 
        <table>
            <h2>Objetivos </h2>   
            <tr>
                <h3>Generales </h3>
            </tr> 
            <tr id="cant_general">
                <td colspan="2"><CENTER id="generalManagment"><a HREF='javascript:newobject("general");'>Agregar un objetivo general</a>&nbsp;</CENTER></td>
            </tr>
        </table>
        <table>
            <tr>
                <h3>Especificos </h3>
            </tr>    
            <tr id="cant_espec">
                <td colspan="2"><CENTER id="espeManagment"><a HREF='javascript:newobject("especifico");'>Agregar un objetivo especifico</a>&nbsp;</CENTER></td>
            </tr>
        </table> 
        <table>     
            <tr>
                <h2>Contenido Resumido </h2>
            </tr>
            <tr id="cant_resu">
                <td colspan="2"><CENTER id="contresManagment"><a HREF='javascript:newobject("resumido");'>Agregar un item</a>&nbsp;</CENTER></td>
            </tr>
        </table> 
        <table>
            <h2>Bibliografía </h2>
            <tr>
                <h3>Basica </h3>
            </tr>      
            <tr id="cant_basica">
                <td colspan="2"><CENTER id="basicaManagment"><a HREF='javascript:newobject("basica");'>Agregar una referencia basica</a>&nbsp;</CENTER></td>
            </tr>
        </table> 
        <table>    
            <tr>
                <h3>Complementaria</h3>
            </tr>
            <tr id="cant_compl">
                <td colspan="2"><CENTER id="complManagment"><a HREF='javascript:newobject("complementaria");'>Agregar una referencia complementaria</a>&nbsp;</CENTER></td>
            </tr>
        </table> 
        <table>
            <tr>
                <h2>Unidades </h2>
            </tr>      
            <tr id="cant_unid">
                <td colspan="2"><CENTER id="unityManagment"><a HREF="javascript:newUnity();">Agregar una unidad</a>&nbsp;</CENTER></td>
            </tr>
        </table> 
        <table id="evaluaciones">
            <tr>
                <h2>Evaluaciones </h2>
            </tr>          
            <tr id="cant_eval">
                <td colspan="2"><CENTER id="evalManagment"><a HREF="javascript:newEval();">Agregar una Evaluacion</a>&nbsp;</CENTER></td>
            </tr>
            <tr>
                <td><input type=button onclick="pregunta()" value="Enviar"></td>
            </tr>       
        </table> 
        <table>
            <tr>
                <td><a href="" id="visualizar_pdf">¿Desea visualizar el microcurriculo en PDF?</a></td> 
            </tr>  
        </table>                           
    </form>
    <div class="container">
        <div id="viewpdf"></div>
    </div>
</body>
<script lenguague="javascript"> 
$(document).ready(function(){
    cadVariables = location.search.substring(1,location.search.length);
    arrVariables = cadVariables.split("&");
    var vige = unescape(arrVariables[3].split("=")[1]);
    var caso = unescape(arrVariables[4].split("=")[1]);
    if(caso=="nuevo"){
        $("#caso").val(caso);
        $("#c2").val($('#c').val());
        $("#v_p2").val($('#v_p').val());
        $("#d").val("Crear un nuevo microcurriculo sin usar otro como base");
    };
    if(vige!=""){
        $("#v").val(vige);
        if(caso=="editar"){
            $("#caso").val(caso);
            var caso1 = "base"
            var pensum = $('#v_p').val();
            var curso = $('#c').val();
            var descripcion = "Editar el microcurriculo seleccionado";
            $("#c2").val(curso);
            $("#v_p2").val(pensum);
            $("#d").val(descripcion);
        }
        else if(caso=="ultimo"){
            $("#caso").val("nuevo");
            var caso1 = "ultimo";
            var pensum = $('#v_p').val();
            var curso = $('#c').val();
            var descripcion = "Crear un nuevo microcurriculo a partir del ultimo microcurriculo vigente del mismo curso";
            $("#c2").val(curso);
            $("#v_p2").val(pensum);
            $("#d").val(descripcion);
        }
        else if(caso=="crear_otro"){
            $("#caso").val("nuevo");
            var caso1 = "base";
            var pensum = $('#v_p').val();
            var curso = $('#c').val();
            var descripcion = "Crear un nuevo microcurriculo a partir de otro microcurriculo del mismo curso ";
            $("#c2").val(curso);
            $("#v_p2").val(pensum);
            $("#d").val(descripcion);
        }
        else if(caso=="ultimo2"){
            $("#caso").val("nuevo");
            var caso1 = "ultimo"
            vp = unescape(arrVariables[0].split("=")[1]);
            cur = unescape(arrVariables[1].split("=")[1]);
            pensums=vp.split(' /pencur- ');
            cursos=cur.split(' /cursel- ');
            $("#v_p").val(pensums[0]);
            $("#c").val(cursos[0]);
            var pensum=pensums[1];
            var curso=cursos[1];
            var descripcion = "Crear un nuevo microcurriculo a partir del ultimo microcurriculo vigente de otro curso"
            $("#c2").val(curso);
            $("#v_p2").val(pensum);
            $("#d").val(descripcion);
        }
        else if(caso=="crear_otro2"){
            $("#caso").val("nuevo");
            var caso1 = "base";
            vp = unescape(arrVariables[0].split("=")[1]);
            cur = unescape(arrVariables[1].split("=")[1]);
            pensums=vp.split(' /pencur- ');
            cursos=cur.split(' /cursel- ');
            $("#v_p").val(pensums[0]);
            $("#c").val(cursos[0]);
            var pensum = pensums[1];
            var curso = cursos[1];
            var descripcion = "Crear un nuevo microcurriculo a partir de otro microcurriculo de otro curso"
            $("#c2").val(curso);
            $("#v_p2").val(pensum);
            $("#d").val(descripcion);
        }
        let url = "{% url 'core' %}";
        const postData={
            'pensum': pensum,
            'curso': curso,
			'vigencia': vige,
            'caso': caso1,
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
        };
        $.post(url, postData, function(response){
            var micro=JSON.parse(response);
            $("#des_gen").val(micro.des_gen);
            $("#propos").val(micro.proposito);
            $("#metodo").val(micro.metodologia);
            $("#acti_asis").val(micro.act_obl);
            procesamiento(micro.generales," /objgen- ","#c_g","eliminarobjetivog","generalManagment","cant_general","General ","general","Borrar el último objetivo","general");
            procesamiento(micro.especificos," /objesp- ","#c_es","eliminarobjetivoe","espeManagment","cant_espec","Especifico ","especifico","Borrar el último objetivo","especifico");
            procesamiento(micro.resumido," /contresu- ","#c_res","eliminarcontres","contresManagment","cant_resu","Item ","item","Borrar el último item","resumido");
            procesamiento(micro.basica," /biblibas- ","#c_bas","eliminarbasica","basicaManagment","cant_basica","Basica ","basica","Borrar la ultima referencia","basica");
            procesamiento(micro.complementaria," /biblicom- ","#c_com","eliminarcomplementaria","complManagment","cant_compl","Complementaria ","complementaria","Borrar la ultima referencia","complementaria");
            var actividades = micro.actividad.split(" /acteval- ");
            var porcentajes = micro.porcentaje.split(" /porceval- ");
            var fechas = micro.fecha.split(" /feceval- ");
            procesamientoevaluaciones(actividades,porcentajes,fechas);
            temas=micro.temas.split(" /temuni- ");
            subtemas=micro.subtemas.split(" /subtemuni- ");
            semanas=micro.semanas.split(" /semauni- ");
            procesamientounidades(temas,subtemas,semanas);
        });
        function procesamientounidades(temas,subtemas,semanas){
            cont=temas.length-1;
            $("#c_u").val(cont);
            if(cont>0){
                for(var i=1;i<cont+1;i++){
                    unidcon=subtemas[i].split(" /subin- ").length-1
                    $('<table id="tbunid'+i+'"></table>').insertBefore("#cant_unid");
                    titulo='<h4>Unidad '+i+':</h4>'
                    temasi='<tr><td>Temas :</td><td><input type="text" required="True" name="temas'+i+'" value="'+temas[i]+'"></td></tr>';
                    semanasi='<tr><td># de semanas :</td><td><input type="number" required="True" name="semanas'+i+'" value="'+semanas[i]+'"></td></tr>';
                    contadori='<tr><td><input type="hidden" id="subtemas'+i+'" name="subtemas'+i+'" value="'+unidcon+'"></td></tr>';
                    subt='<tr><td>Subtemas :</td></tr>';
                    control='<tr id="nodosub'+i+'"><td id="agregarsub'+i+'"><a id="agregarsubtema'+i+'" href="javascript:newsubt('+i+')">Agregar un subtema</a></td></tr>';
                    contenido=contadori+temasi+semanasi;
                    $('#tbunid'+i).append(titulo);
                    $('#tbunid'+i).append(contenido);
                    $('#tbunid'+i).append(subt);
                    $('#tbunid'+i).append(control);
                    if(unidcon>0){
                        sub=subtemas[i].split(" /subin- ")
                        for(var j=1;j<unidcon+1;j++){
                            subtemai='<tr><td>Subtema '+j+':</td><td><input type="text" required="True" name="subtemauni'+i+''+j+'" value="'+sub[j]+'"></td></tr>';
                            $(subtemai).insertBefore("#nodosub"+i);
                        }
                        elimi='<a id="eliminarsubt'+i+'" href="javascript:eliminari('+i+')">Borrar el último subtema</a>'
                        $('#nodosub'+i).append(elimi);
                    }
                };
                eliminar='<a id="eliminarUnid" href="JavaScript:eliminar(this)">Borrar la última unidad</a>';
                $('#unityManagment').append(eliminar);
            };
        };
        function procesamientoevaluaciones(activ,porcen,fech){
            cont_eval=activ.length-1;
            $("#c_e").val(cont_eval);
            if(cont_eval>0){
                for(var i=1;i<cont_eval+1;i++){
                    $('<tr id="treval'+i+'"></tr>').insertBefore("#cant_eval");
                    titulo='<h4>Evaluacion '+i+':</h4>'
                    actividadi='<tr><td>Actividad :</td><td><input type="text" required="True" name="actividad'+i+'" value="'+activ[i]+'"></td></tr>';
                    porcentajei='<tr><td>Porcentaje :</td><td><input type="number" required="True" name="porcentaje'+i+'" value="'+porcen[i]+'"></td></tr>';
                    fechai='<tr><td>Fecha :</td><td><input type="date" required="True" name="fecha'+i+'" value="'+fech[i]+'"></td></tr>';
                    contenido=actividadi+porcentajei+fechai;
                    $('#treval'+i).append(titulo);
                    $('#treval'+i).append(contenido);
                };
                eliminar='<a id="eliminarEval" href="javascript:eliminar_eval(this)">Borrar la última evaluación</a>';
                $('#evalManagment').append(eliminar);
            };
        };
        function eliminar(obj){
            unity=document.getElementById("cant_unid");
            unity.parentNode.removeChild(unity.parentNode.childNodes[cont+1]);
            cont --;
            document.getElementById("c_u").value=cont;
            if (cont==0){
                document.getElementById("unityManagment").removeChild(document.getElementById("eliminarUnid"));
            }
        }
        function newEntry2(input_1,n_1){
            newInput1 = document.createElement("input");
            newInput1.type="text";
            newInput1.name=n_1;
            newInput1.required="True";
            newNode = document.createElement("tr");
            newNode.appendChild(document.createElement("td"));
            newNode.appendChild(document.createElement("td"));
            newNode.firstChild.appendChild(document.createTextNode(input_1))
            newNode.lastChild.appendChild(newInput1);
            return newNode;
        }; 
        function procesamiento(cadena,clave,clave2,id_close,id_top,n_unity,nombre,nombre_href,mensaje_text,tipo){
            var cadena2 = cadena.split(clave);
            var long = cadena2.length-1;
            if(tipo=="general"){
                cont_gen=long;
            }
            else if(tipo=="especifico"){
                cont_esp=long;
            }
            else if(tipo=="resumido"){
                cont_res=long;
            }
            else if(tipo=="basica"){
                cont_bas=long;
            }
            else if(tipo=="complementaria"){
                cont_comp=long;
            }
            $(clave2).val(long);
            if(long > 0){
                newClose = document.createElement("a");
                newClose.id=id_close;
                newClose.href='javascript:eliminar2(this,"'+tipo+'")';
                newClose.appendChild(document.createTextNode(mensaje_text));
                document.getElementById(id_top).appendChild(newClose);
                for(var i=1;i<long+1;i++){
                    unity=document.getElementById(n_unity);
                    newNode=newEntry2(nombre+i+":",nombre_href+i);
                    unity.parentNode.insertBefore(newNode,unity);    
                };
                for(var i=1;i<long+1;i++){
                    $("input[name='"+nombre_href+i+"']").val(cadena2[i]);
                };
            };
        };
    };
    function generar_cadena(contador,clave){
        var cadena ='';
        if(parseInt(contador)==0){
            cadena='No ha agregado este campo';
            return cadena;
        }
        else{
            for(var i=1;i<parseInt(contador)+1;i++){
                var cade=$("input[name="+clave+i+"]").val();
                if(cade==''){
                    cadena+='Vacio,a,'
                }
                else{
                    cadena+=cade+',a,'
                }
            }
            return cadena;
        }
    }
    function generar_evaluaciones(contador){
        var cadena ='';
        if(parseInt(contador)==0){
            cadena='vacio & vacio & vacio \\\\';
            return cadena;
        }
        else{
            for(var i=1;i<parseInt(contador)+1;i++){
                var activ=$("input[name=actividad"+i+"]").val();
                activ = activ.replace("&","\\&")
                var porce=$("input[name=porcentaje"+i+"]").val();
                porce = porce.replace("&","\\&")
                var fecha=$("input[name=fecha"+i+"]").val();
                fecha = fecha.replace("&","\\&")
                if(activ==''){
                    activ='Vacio';
                }
                else{
                    activ=activ;
                }
                if(porce==''){
                    porce='Vacio';
                }
                else{
                    porce=porce;
                }
                if(fecha==''){
                    fecha='Vacio';
                }
                else{
                    fecha=fecha;
                }
                cadena+=activ+" & "+porce+" & "+fecha+' \\\\ '
            }
            return cadena;
        }
    }
    function generar_unidades(contador){
        var cadena = '';
        if(parseInt(contador)==0){
            cadena='No ha agregado este campo';
            return cadena;            
        }
        else{
            for(var i=1;i<parseInt(contador)+1;i++){
                var cont2=$("input[name=subtemas"+i+"]").val();
                var temai=$("input[name=temas"+i+"]").val();
                temai=temai.replace("&","\\&")
                var semai=$("input[name=semanas"+i+"]").val();
                semai=semai.replace("&","\\&")
                if(temai==''){
                    temai='Vacio';
                }
                else{
                    temai=temai;
                }
                if(semai==''){
                    semai='Vacio';
                }
                else{
                    semai=semai;
                }                
                var subte='';
                if (parseInt(cont2)==0){
                    subte = '\\item No se ha ingresado este campo';
                }
                else{
                    for(var j=1;j<parseInt(cont2)+1;j++){
                        var subi=$("input[name=subtemauni"+i+j+"]").val();
                        subi=subi.replace("&","\\&")
                        if(subi==''){
                            subi='Vacio';
                        }
                        else{
                            subi=subi;
                        }
                        subte+='\\item '+subi+' '
                    }    
                }
                cadena+=i+" &/& "+temai+" &/& "+subte+" &/& "+semai+" \n"
            }
            return cadena
        }
    }
    $("#visualizar_pdf").on('click', function (e){
        e.preventDefault();
        let url = "{% url 'core' %}";
        var cont_unid=$('#c_u').val();
        var cont_eval=$('#c_e').val();
        var cont_gen=$('#c_g').val();
        var cont_esp=$('#c_es').val();
        var cont_res=$('#c_res').val();
        var cont_bas=$('#c_bas').val();
        var cont_com=$('#c_com').val();
        var generales=generar_cadena(cont_gen,"general");
        var especificos=generar_cadena(cont_esp,"especifico");
        var items=generar_cadena(cont_res,"item");
        var basicas=generar_cadena(cont_bas,"basica");
        var complemen=generar_cadena(cont_com,"complementaria");
        var actividadescuri = generar_evaluaciones(cont_eval);
        var unidades = generar_unidades(cont_unid);
        var pensum = $('#v_p').val();
        var curso = $('#c').val();
        var vigencia = $('#s').val();
        var des_gen = $('#des_gen').val();
        var proposito = $('#propos').val();
        var metodologia = $('#metodo').val();
        var acti_asis = $('#acti_asis').val();
        if(des_gen==''){
            des_gen='Vacio'
        }
        if(proposito==''){
            proposito='Vacio'
        }
        if(metodologia==''){
            metodologia='Vacio'
        }
        if(acti_asis==''){
            acti_asis='Vacio'
        }
        const postData={
            'pensum': pensum,
            'curso': curso,
			'vigencia': vigencia,
            'des_gen': des_gen,
            'proposito': proposito,
			'metodologia': metodologia,
            'activ_oblig': acti_asis,
            'generales': generales,
            'especificos': especificos,
            'items': items,
            'basicas': basicas,
            'complemen': complemen,
            'actividadescuri': actividadescuri,
            'unidades': unidades,
            'caso':"nuevopdf",
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
        };
        $.post(url, postData, function(response){
            window.open("data:application/pdf;base64, " + response);
        });
    });
});    
</script>
</html>