<!DOCTYPE html>
<html lang="es">
{% load static %}
{% load auth_extras %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Microcurriculos Udea</title>
    <style type="text/css" media="screen">
        #col1,#col2 {
            width: 10%;
        }
        A:link {color: blue; font-size: 12pt; text-decoration: none }
        A:hover {color: blue; font-size: 12pt; text-decoration: none }
        A:visited {color: blue; font-size: 12pt; text-decoration: none }
    </style>
</head>
{% if mensaje %}
    <script lenguague="JavaScript">
        alert("{{mensaje}}");
        window.location = "{% url 'nucleo' %}";
    </script>
{% endif %}
<body>
<table id=central>
    {% csrf_token %}  
    <p>
        Bienvenido <b>{{request.user.first_name}}</b> a la aplicacion de Microcurriculos.
    </p>
    <p>
        {% if request.user|has_group:"Coordinador" %}
            Eres un <b>{{request.user.userrol.rol}}</b> del departamento <b>{{request.user.userrol.departamento}}</b>.
        {% elif request.user|has_group:"Gestor"%}
            Eres un <b>{{request.user.groups.all.0}}</b> del departamento <b>{{request.user.userrol.departamento}}</b>.
        {% elif request.user|has_group:"Editor" or request.user|has_group:"Gestor" or request.user|has_group:"Jefe"%}
            Eres un <b>{{request.user.groups.all.0}}</b> de la aplicacion.
        {% endif %}
    </p>
    <h1>Menu</h1>
    {% if request.user|has_group:"Editor" or request.user|has_rol:"Editor" %}
        <tr>
            <td><a href="{% url 'crear2' %}" id="crear_micro">Crear un microcurriculo</a></td> 
        </tr>
        <tr>
            <td><a href="{% url 'editar' %}" id="editar_micro">Editar un microcurriculo</a></td> 
        </tr>
    {% endif %}
    {% if request.user|has_group:'Estudiantes' or request.user|has_group:"Editor" or request.user|has_group:"Coordinador" %}
        <tr>
            <td><a href="{% url 'visualizar' %}" id="visualizar_pdf">Visualizar microcurriculo en PDF</a></td> 
        </tr>
    {% endif %}
    {% if request.user|has_group:"Coordinador" or request.user|has_group:"Editor"%}
        <tr>
            <td><a href="{% url 'peticiones' %}" >Visualizar las solicitudes realizadas</a></td> 
        </tr>
    {% endif %}
    {% if request.user|has_group:"Coordinador"%}
        <tr>
            <td><a href="{% url 'choose' %}" >Cambiar de rol</a></td> 
        </tr>
    {% endif %}
    {% if request.user|has_group:"Gestor"%}
        <tr>
            <td><a href="{% url 'register' %}">Registrar nuevo usuario</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'coordinador' %}">Administrar Coordinadores</a></td>
        </tr>
        <tr>
           <td><a href="{% url 'editor' %}">Administrar Editores</a></td>
        </tr> 
    {% endif %}
    {% if request.user|has_group:"Jefe"%}
        <tr>
            <td><a href="{% url 'register' %}">Registrar nuevo gestor</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'gestor' %}">Administrar Gestores</a></td>
        </tr>
    {% endif %}       
</table>
{% if request.user.is_authenticated %}
    <table>
        <h2>
        </h2>
        <tr>
            <a href="/logout">Cerrar Sesión</a>
        </tr>
    </table>
{% endif %}    
</body>
</body>
</html>    